<div class="row">
  <div class="large-11 large-centered column">
    <h1>Current Robots</h1>
    <% if user_signed_in? %>
      <%= link_to 'Upload new bot', '#', :id => 'show_upload_link', :class => 'success button small' %>
    <% else %>
      <%= link_to 'Login or register to upload', new_user_session_path, :class => 'button small' %>
    <% end %>
    <table>
    <% @grouped_bots.each do |level, bots| %>
      <thead>
        <tr>
          <th colspan="6"><h3><%= level %></h3></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Name</th>
          <th>Creator</th>
          <th>Bot Types</th>
          <th>Won</th>
          <th>Played</th>
          <th></th>
        </tr>
      </thead>

      <% bots.each do |bot| %>
        <tr>
          <td><%= link_to bot.proper_name, bot_path(bot) %></td>
          <td><%= link_to bot.user.username, user_path(bot.user) %></td>
          <td><%= bot.categories.collect(&:name).sort.join(', ') %></td>
          <td><%= bot.entries.where(:rank => 1).count %></td>
          <td><%= bot.entries.count %></td>
          <td><%= link_to 'Download', bot.jar_file.url %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
  </div>
</div>
<% if user_signed_in? %>
  <div id="upload_form_modal" class="reveal-modal medium">
    <h3>Upload a new bot</h3>
    <%= simple_form_for(@bot) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :jar_file, :as => :file, :required => true, :wrapper => :foundation_modified, :label => 'Select jar file' %>
        <br />
        <%= f.association :categories, :as => :check_boxes, :required => true,
          :wrapper => :foundation_modified, :label => 'Bot type', :label_method => lambda { |c| c.detail_name} %>
      </div>

      <br />
      <div class="form-actions">
        <%= f.button :submit, 'Upload' %>
        <%= button_tag 'Cancel', :id => 'upload_cancel_button', :class => 'secondary button' %>
      </div>
    <% end %>
  </div>
<% end %>
