<table class="detail-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Bot</th>
      <th>Total Score</th>
      <th data-tooltip class="has-tip" title="Robots score 1 point fore each point of damage they do to enemies">Bullet Dmg</th>
      <th data-tooltip class="has-tip" title="When a robot kills an enemy, it scores an additional 20 percent of all the damage it did to that enemy">Bullet Bonus</th>
      <th data-tooltip class="has-tip" title="Robots score 2 points for each point of damage they cause by ramming enemies">Ram Dmg</th>
      <th data-tooltip class="has-tip" title="When a robot kills an enemy by ramming, it scores an additional 30 percent of all the damage it did to that enemy">Ram Bonus</th>
      <th data-tooltip class="has-tip" title="Each robot that's still alive scores 50 points every time another robot dies">Survival</th>
      <th data-tooltip class="has-tip" title="Currently always 0">Survival Bonus</th>
      <th>1st</th>
      <th>2nd</th>
      <th>3rd</th>
    </tr>
  </thead>
  <% entries.each do |entry| %>
    <tr>
      <td><%= entry.rank %></td>
      <td><%= link_to entry.bot.proper_name, bot_path(entry.bot) %></td>
      <td><%= entry.total_score %></td>
      <td><%= entry.bullet_damage %></td>
      <td><%= entry.bullet_bonus %></td>
      <td><%= entry.ram_damage %></td>
      <td><%= entry.ram_bonus %></td>
      <td><%= entry.survival %></td>
      <td><%= entry.survival_bonus %></td>
      <td><%= entry.firsts %></td>
      <td><%= entry.seconds %></td>
      <td><%= entry.thirds %></td>
    </tr>
  <% end %>
</table>
