<% cache do %>
<div class="row">
  <div class="large-12 large-centered column">
    <h2>Match details</h2>

    <div class="row">
      <div class="large-6 column">
        <table class="summary-table">
          <tr>
            <th>Winner:</th><td><%= link_to @match.winner.bot.proper_name, bot_path(@match.winner.bot) %></td>
          </tr>
          <tr>
            <th>Match type:</th><td><%= @match.category.detail_name %></td>
          </tr>
          <tr>
            <th>Number of rounds:</th><td><%= @match.category.battle_configuration.num_rounds %></td>
          </tr>
          <tr>
            <th>Total bots:</th><td><%= @match.category.battle_configuration.num_bots %></td>
          </tr>
          <tr>
            <th>Battlefield size:</th><td><%= "#{@match.category.battle_configuration.width}x#{@match.category.battle_configuration.height}" %></td>
          </tr>
          <tr>
            <th>Duration:</th><td><%= distance_of_time_in_words(@match.started_at, @match.finished_at) %></td>
          </tr>
        </table>
      </div>

      <div class="large-6 column">
        <h4 class="graph-label subheader">Point distribution</h4>
        <%= content_tag :div, '', :id => 'breakdown_chart', :data => { :entries => @match.entries.map do |entry|
          {
            :proper_name => entry.bot.proper_name,
            :bullet_damage => entry.bullet_damage,
            :bullet_bonus => entry.bullet_bonus,
            :ram_damage => entry.ram_damage,
            :ram_bonus => entry.ram_bonus,
            :survival => entry.survival,
            :survival_bonus => entry.survival_bonus
          }
        end
        } %>
      </div>
    </div>
    <div class="row"><hr /></div>

    <div class="row">
      <h2 class="subheader">Detailed breakdown</h2>
      <%= render :partial => 'matches/entries_table', :locals => { :entries => @match.entries.order('rank ASC') } %>
    </div>
    <div class="row">
      <div class="large-4 column">
        <h3 class="graph-label subheader">Bullet Damage</h3>
        <%= content_tag :div, '', :id => 'bullet_damage_chart', :data => { :values => @match.entries.map do |entry|
          {
            :label => entry.bot.proper_name,
            :value => entry.bullet_damage
          }
        end
        } %>
      </div>
      <div class="large-4 column">
        <h3 class="graph-label subheader">Ram Damage</h3>
        <%= content_tag :div, '', :id => 'ram_damage_chart', :data => { :values => @match.entries.map do |entry|
          {
            :label => entry.bot.proper_name,
            :value => entry.ram_damage
          }
        end
        } %>
      </div>
      <div class="large-4 column">
        <h3 class="graph-label subheader">Survival</h3>
        <%= content_tag :div, '', :id => 'survival_chart', :data => { :values => @match.entries.map do |entry|
          {
            :label => entry.bot.proper_name,
            :value => entry.survival
          }
        end
        } %>
      </div>
    </div>
  </div>
</div>
<% end %>
